---

---

<section>
    <div class="text-xl md:text-6xl text-pink-950 px-4 pt-12 pb-28 w-full">
        Lapadoo is an Agency focusing on developing high end websites and products from design to code.
    </div>
</section>