---
interface Props {
    itemName : string
    itemUrl: string
}

const {itemName, itemUrl} = Astro.props;
---

<a href={itemUrl} class="flex cursor-pointer text-gray-400 text-xl md:text-2xl lg:text-4xl transition-all ease-in-out duration-300  link box-border w-full md:w-1/2 px-6 lg:px-16 mt-8">
    <div class="flex justify-between w-full hover:text-lime-300 border-b-2 border-gray-400 hover:border-lime-300">
        <div>
            {itemName}
        </div>
        <div class="arrow origin-center -rotate-45 hidden">
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
    </div>
</a>

<!--Custom CSS -->


<!-- Custom JavaScript -->
<script>
    const item = document.querySelector('.link');
    const arrow = document.querySelector('.arrow');

    item.addEventListener('mouseover', hoverEffect);
    item.addEventListener('mouseout', outEffect);

    function hoverEffect() {
        arrow.classList.toggle('hidden');
    }
    function outEffect() {
        arrow.classList.toggle('hidden');
    }
</script>

<!-- ionicons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

