---

---

<section class="text-pink-400 body-font h-full bg-gray-50">

    <div class="flex px-5 py-10 md:py-24 md:flex-row flex-col items-end bg-pink-200 rounded-t-[4rem] hover:bg-pink-950 cursor-pointer transition-all duration-500 ease-in-out  ">

      <!-- Image -->
      <div class="xl:max-w-3xl xl:w-full md:w-1/2 hidden md:inline-block">
        <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/1020x250">
      </div>

      <!-- Headline-->  
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-end md:text-left mb-0 items-center text-center"> 

    
          <h3 class="title-font md:text-5xl xl:text-9xl text-4xl px-6 md:mb-4 font-medium text-pink-400">
            All projects
          </h3>

      </div>

    </div>
  </section>