---

---

<section class="text-pink-400 body-font h-full px-5 bg-gray-50">

    <div class="flex px-5 py-24 md:flex-row flex-col items-end bg-lime-50 rounded-3xl ">

      <!-- Image -->
      <div class="lg:max-w-3xl lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/1020x550">
      </div>

      <!-- Headline-->  
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-end md:text-left mb-16 md:mb-0 items-center text-center"> 

        <h1 class="title-font sm:text-4xl lg:text-6xl text-xl mb-4 font-medium text-pink-400">Before they sold
          <br class="hidden lg:inline-block">readymade gluten
        </h1>

      </div>

    </div>
  </section>