---

---

<header class="text-gray-600 body-font">
    <div class="mx-auto pt-6 md:px-10 px-3 flex justify-between items-center">

      <!-- Logo -->  
      <a class="flex title-font font-medium items-center text-pink-50 mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-pink-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Tailblocks</span>
      </a>

      <!-- Navbar -->

      <nav class="m-0 flex flex-col gap-10 items-center text-base justify-center bg-black w-full h-full fixed transition-all duration-700 ease-in-out">
        <a class="mr-5 hover:text-gray-900">First Link</a>
        <a class="mr-5 hover:text-gray-900">Second Link</a>
        <a class="mr-5 hover:text-gray-900">Third Link</a>
        <a class="mr-5 hover:text-gray-900">Fourth Link</a>
      </nav>

      <div class="buttons flex gap-4">
        <button class="inline-flex items-center text-pink-50 bg-pink-400    border-0 py-2 px-6 focus:outline-none hover:bg-lime-200 hover:text-lime-900 rounded-full text-xl transition ease-in-out duration-300 ">
        Contato
        </button>

        <div class="menu flex flex-col justify-center align-baseline rounded-full h-12 w-12 bg-white cursor-pointer z-20">
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>
</header>

<style lang="scss">
  header {
    nav {
    left: -100%;
    top: 0;
  }
  nav.active {
    left: 0;
  }
  }
  .bar {
    display: block;
    width: 1.8rem;
    height: .16rem;
    margin: 2px auto;
    transition: all .3s ease-in-out;
    background-color: rgb(22, 11, 18);
  }

  .menu.active .bar:nth-child(1) {
    transform: translateY(3.2px) rotate(40deg);
  }

  .menu.active .bar:nth-child(2) {
    transform: translateY(-3.2px) rotate(-40deg);
  }

</style>

<script>
  const hamburger = document.querySelector(".menu");
  const nav = document.querySelector("nav");

  hamburger.addEventListener('click', openMenu);

  function openMenu() {
    hamburger.classList.toggle("active")
    nav.classList.toggle("active")
  }
</script>