---
import Header from "./Header.astro";
---

<section class="text-pink-400 body-font h-screen bg-[url('https://images.unsplash.com/photo-1585851344977-64efb93b4f8a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80')]">
    
    <Header />

    <div class="flex px-5 py-24 lg:flex-row flex-col lg:items-end justify-end h-screen">

      <!-- Headline-->  
      <div class="lg:flex-grow lg:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0"> 

        <h1 class="title-font md:text-7xl lg:text-9xl text-xl mb-4 font-medium text-pink-400">Before they sold
          <br class="hidden lg:inline-block">readymade gluten
        </h1>

      </div>

      <!-- Image -->
      <div class="lg:max-w-3xl w-full lg:w-1/2 w-6/6">
        <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/1020x550">
      </div>
    </div>
  </section>