---
import Card from '../components/Card.astro'
---

<section class="text-grey-500 body-font bg-gray-50">

    <div class="flex  px-5 py-2 gap-5 h-full">

      <!-- Headline-->  
      <div class="lg:text-left text-center p-6 w-1/2">

        <!-- Headling -->
        <div class="flex flex-cols lg:items-start items-center">
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg lg:text-4xl title-font font-medium mb-3">
                Shooting Stars
            </h2>
            <p class="leading-relaxed text-base lg:text-2xl">
                Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.
            </p>
          </div>
        </div>
        
      </div>

      <!-- Cards -->
      <div class=" flex flex-wrap w-1/2">
        <Card 
            title = 'riamos marcas'
            initial = 'C' 
            body = 'Code Challenge: Tweak the "Welcome to Astro" message above'
        />
        <Card 
            title = 'riamos marcas'
            initial = 'C' 
            body = 'Code Challenge: Tweak the "Welcome to Astro" message above'
        />
        <Card 
            title = 'riamos marcas'
            initial = 'C' 
            body = 'Code Challenge: Tweak the "Welcome to Astro" message above'
        />
        <Card 
            title = 'riamos marcas'
            initial = 'C' 
            body = 'Code Challenge: Tweak the "Welcome to Astro" message above'
        />
      </div>
    </div>
  </section>