---

---

<section class="text-gray-100 body-font">
    <div class="px-5 pt-24 flex gap-5">

      <!-- Image -->

      <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-3xl overflow-hidden">
        <img alt="feature" class="object-cover object-center h-full w-full" src="https://dummyimage.com/500x500">
      </div>


      <!-- Description -->

      <div class="flex flex-col justify-between -mb-10 lg:mb-0 lg:w-1/2  lg:text-left text-center p-6 bg-pink-400 rounded-3xl">

        <!-- Headling -->
        <div class="flex flex-col mb-10 lg:items-start items-center">
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg lg:text-4xl title-font font-medium mb-3">
                Shooting Stars
            </h2>
            <p class="leading-relaxed text-base lg:text-2xl">
                Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.
            </p>
          </div>
        </div>
        
        <!-- Illustration -->
        <div class="w-full mb-10 lg:mb-0 rounded-2xl overflow-hidden">
            <img alt="feature" class="object-cover object-center w-full h-full" src="https://dummyimage.com/200x150">
          </div>
      </div>
    </div>
  </section>